@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilás: #5f2c82;
}

body, html, main {
    background-image: linear-gradient(to top, var(--verde), var(--lilás));
}

section#login {
    width: 80vw;
    height: 290px;
}

section#login > div#imagem {
    float: left;
    width: 30%; 
    height: 100%;
}

section#login > div#formulario {
    float: right;
    width: 70%;
}